@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

.printer {
    font-family: monospace;
    width: 30ch;
    border-right: 0.05em solid;
    animation: typing 15s infinite steps(30), caret 0.5s steps(1) infinite;
    white-space: nowrap;
    overflow: hidden;
}
